<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IKE : An AI based Answer Engine</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body bgcolor="151313" class="h-screen flex items-center">
	<div class="container mx-auto px-4 py-8 flex justify-center">
		<center>
			<h1 class="text-5xl font-bold mb-10 text-[#BEADFA]">Ike: An AI based Answer Engine</h1>

		    <h1 class="text-3xl font-bold mb-10 text-[#BEADFA]">විෂය තෝරන්න:</h1>

		    <a href="/si/mathematics/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded">ගණිතය</button>
			</a>

			<a href="/si/science/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">විද්යාව</button>
		    </a>

		    <a href="/si/history/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">ඉතිහාසය</button>
		    </a>

		    <a href="/si/geography/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">භූගෝල විද්යාව</button>
		    </a>

		    <a href="/si/business/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">ව්යාපාර සහ ගිණුම්කරණය</button>
		    </a>

		    <a href="/si/entrepreneurship/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">ව්යවසායකත්වය</button>
		    </a>

		    <a href="/si/ict/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">තොරතුරු සහ සන්නිවේදන තාක්ෂණය</button>
		    </a>

		    <a href="/si/civic/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">පුරවැසි අධ්‍යාපනය (සිවික්)</button>
	    	</a>

		    <a href="/si/health/ask">
		    	<button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">සෞඛ්ය</button>
	    	</a>

	    </center>
  	</div>
</body>
</html>