<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IKE : An AI based Answer Engine</title>
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<body bgcolor="151313" class="h-screen flex items-center">
	<div class="container mx-auto px-4 py-8 flex justify-center">
		<center>
			<h1 class="text-5xl font-bold mb-10 text-[#BEADFA]">Ike: An AI based Answer Engine</h1>

		    <h1 class="text-3xl font-bold mb-10 text-[#BEADFA]">Select the subject:</h1>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded">Mathematics</button>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">Science</button>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">History</button>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">Geography</button>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">Business & Accounting</button>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">Entrepreneurship</button>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">ICT</button>

		    <button class="px-4 py-2 bg-[#BEADFA] text-[#1E1E1E] rounded ml-10 mb-5 mt-5">Citizenship Education (Civic)</button>
	    </center>
  	</div>
</body>
</html>